{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!
{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center my-5">Tilte:
            <br>{{annonce.getTitle}}
        </h1>
        {# Works because of the function __toString #}
        <p>Annonceur :
            {{annonce.getAnnonceur}}</p>
        <p>last modified :
            {{annonce.getModifiedAt|format_datetime()}}
        </p>
        <div
            class="text-center">
            {# the user must be a registered adoptant before applyon for adoption #}
            {% if is_granted('ROLE_ADOPTANT') %}
                <a href="{{path('adoptant_applyForAdoption')}}" class="btn btn-outline-primary">Apply for adoption</a>
            {% else %}
                <p>you need to be register as an adoptant to apply for adoption
                    <br><a href="{{path('security_login')}}" class="btn btn-outline-primary">loggin</a>
                </p>
            {% endif %}
        </div>
    </section>
    <section>
        <h2 class="text-center my-3">Dogs concerned :</h2>
        <div
            class="row justify-content-center">
            {# we use the method getAdoptableDog to avoid displaying dogs that are already adopted #}
            {% for dog in annonce.getAdoptableDog %}
                {% include "includes/_dog.html.twig" with {"dog":dog} only %}
            {% endfor %}
        </div>

    </section>
{% endblock body %}
