<div class="card my-5">
    <div class="card-body">
        <h3 class="card-title">
            Adoption offer n°{{adoptionOffer.getId}}</h3>
        <div>
            <h5 class="card-title">Annonce concerné :
                {{adoptionOffer.getAnnonce}}</h5>
            <a class="btn btn-primary" href="{{path('annonce_detail',{'id' : adoptionOffer.getAnnonce.getId})}}" target="_blank" class="card-link">Details</a>
        </div>
        {% if is_granted('ROLE_ADOPTANT') %}
            <h5 class="card-title">Annonceur :
                {{adoptionOffer.getAnnonce.getAnnonceur}}
            </h5>
        {% elseif is_granted('ROLE_ANNONCEUR') %}
            <h5 class="card-title">Adoptant :
                {{adoptionOffer.getAdoptant}}
            </h5>
            <p>full-name:
                {{adoptionOffer.getAdoptant.getFirstName}}
                {{adoptionOffer.getAdoptant.getLastName}}</p>
        {% endif %}

        <p class="card-text">
            <small class="text-body-secondary">last modified :
                {{adoptionOffer.getAnnonce.getModifiedAt|format_datetime()}}</small>
        </p>
        <h5 class="card-title">list Dogs :</h5>
        <ul class="row">
            {% for dog in adoptionOffer.getDogs %}
                <li class="col-md-3 p-3">
                    <p>Name:
                        {{dog.getName}}
                        {% if dog.isAdopted %}
                            <span class="badge rounded-pill text-bg-danger">is Adopted</span>
                        </p>
                        <img src="{{asset(dog.getFirstImage.getPath)}}" alt="" class="m-2 w-100" style="aspect-ratio:1">
                    {% else %}
                        <span class="badge rounded-pill text-bg-warning">Still pending</span>
                    {% endif %}
                    <img src="{{asset(dog.getFirstImage.getPath)}}" alt="" class="w-100 m-2" style="aspect-ratio:1">
                </li>
            {% endfor %}
            {# end for #}
        </ul>
        {# link #}
        <div class="text-center">

            {% if is_granted('ROLE_ADOPTANT') %}
                <a class="btn btn-primary" href="{{path('app_adoption_modify',{'id' : adoptionOffer.getId})}}" target="_blank" class="card-link">Modify</a>
            {% endif %}


            <a class="btn btn-primary position-relative" href="{{path('app_annoneur_annonce_adoptionOffers',{id:adoptionOffer.getAnnonce.getId })}}">
                Inbox
                {% if is_granted('ROLE_ADOPTANT') and adoptionOffer.nbrNewMessageAnnonceur != 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{adoptionOffer.nbrNewMessageAnnonceur}}+
                        <span class="visually-hidden">unread messages</span>
                    </span>
                {% elseif is_granted('ROLE_ANNONCEUR') and adoptionOffer.nbrNewMessageAdoptant != 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{adoptionOffer.nbrNewMessageAdoptant}}+
                        <span class="visually-hidden">unread messages</span>
                    </span>
                {% endif %}
            </a>
        </div>
        {# end link #}
    </div>
</div>
