<div class="card my-5">
    <div class="card-body">
        <h3 class="card-title">
            Annonce n°{{annonce.getId}}</h3>
        <h5 class="card-title">titre :
            {{annonce.getTitle}}</h5>
        <a class="btn btn-primary position-relative" href="{{path('annonce_adoption_offers',{id:annonce.getId })}}">
            Inbox
            {% if annonce.getNbrUnreadMessage != 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{annonce.getNbrUnreadMessage}}+
                    <span class="visually-hidden">unread messages</span>
                </span>
            {% endif %}
        </a>
        <p class="card-text">
            <small class="text-body-secondary">last modified :
                {{annonce.getModifiedAt|format_datetime()}}</small>
        </p>
        <h5 class="card-title">list Dogs :</h5>
        <ul class="row">
            {% for dog in annonce.getDogs %}
                <li class="col-md-3 p-3">
                    <p>Name:
                        {{dog.getName}}
                        {% if dog.isAdopted %}
                            <span class="badge rounded-pill text-bg-success">is Adopted</span>
                        </p>
                    {% else %}
                        <span class="badge rounded-pill text-bg-warning">Still pending</span>
                    </p>
                    <a class="btn btn-success" href="">Mark as adopted</a>
                {% endif %}
            </li>
        {% endfor %}
        {# end for #}
    </ul>
    {# link #}
    <div class="text-center">
        <a class="btn btn-primary" href="{{path('annonce_detail',{'id' : annonce.getId})}}" target="_blank" class="card-link">Details</a>
        <a class="btn btn-primary" href="{{path('annonce_update',{'id' : annonce.getId})}}" target="_blank" class="card-link">Modify</a>
    </div>
    {# end link #}
</div></div>
